<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0"
            style="font-family: Times New Roman; text-align: left; font-weight: thin; color: #607782; margin-left: 100px;">
            Layanan : Senin - Minggu Jam 12.00 s/d 19.00</p>
        <p style="font-family: Times New Roman;  font-weight: thin; color: #607782;">
            Copyright &copy;
            <script>document.write(new Date().getFullYear())</script> Koperasi Padasuka
        </p>
        <p style="font-family: Times New Roman; color: #607782;">
            Jl. Raya Salopa, Mandalahayu, Kab. Tasikmalaya</p>
    </footer>
</div>