<div class="container pt-4">
    <footer class="pt-3 border-top">
        <p class="text-center" style="font-family: Times New Roman; font-weight: thin; color: #607782;">
            Copyright &copy;
            <script>document.write(new Date().getFullYear())</script> Koperasi Padasuka
        </p>
    </footer>
</div>