<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Koperasi Padasuka</title>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="index.css" />
  </head>

  <body> 
    <%- include('../partials/header.ejs') %>
<!-- <h1>This is dashboard</h1>
<a href="/register">Register Anggota Baru</a>
<a href="/member">Informasi Member</a>
<a href="/loan">Loan</a>
<a href="/report">Report</a>
<a href="/invoice">Invoice</a>
<a href="/kamus">Kamus Koperasi</a>
<a href="/neraca">Neraca Koperasi</a>
<a href="/logout">Logout</a>

<h2> Style me please :) </h2> -->

<div class="container text-center mb-3" style="margin-top: 150px">
    
    <div class="row justify-content-center">
      <div class="col">
        <a href="/register"><img src="images/register.png" width="50%"></a>
      </div>
      <div class="col">
        <a href="/member"><img src="images/member.png" width="50%"></a>
      </div>
      <div class="col">
        <a href="#"><img src="images/saving.png" width="50%"></a>
      </div>
      <div class="col">
        <a href="#"><img src="images/loan.png" width="50%"></a>
      </div>
    </div>
</div>

<div class="container text-center pt-5"> 
  <div class="row">
    <div class="col ">
      <a href="/register"><img src="images/neraca.png" width="50%"></a>
    </div>
    <div class="col">
      <a href="/member"><img src="images/report.png" width="50%"></a>
    </div>
    <div class="col">
      <a href="/loan"><img src="images/dict.png" width="50%"></a>
    </div>
    <div class="col">
      <a href="/report"><img src="images/invoice.png" width="50%"></a>
    </div>
  </div>
</div> 

<!-- <%- include('../partials/footer.ejs') %> -->

<footer class="pt-3 border-top" style="margin-top: 170px">
    <p class="text-center" style="font-family: Times New Roman; font-weight: thin; color: #607782;">
        Copyright &copy;
        <script>document.write(new Date().getFullYear())</script> Koperasi Padasuka
    </p>
</footer>
</body>
</html>