<h1>This is dashboard</h1>
<a href="/register">Register Anggota Baru</a>
<a href="/loan">Loan</a>
<a href="/report">Report</a>
<a href="/invoice">Invoice</a>
<a href="/kamus">Kamus Koperasi</a>
<a href="/neraca">Neraca Koperasi</a>
