<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Koperasi Padasuka</title>
    <%- include('../partials/head.ejs') %>
    <style>
      .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      </style>
  </head>

  <body> 
    <%- include('../partials/header.ejs') %>
<!-- <h1>This is dashboard</h1>
<a href="/register">Register Anggota Baru</a>
<a href="/member">Informasi Member</a>
<a href="/loan">Loan</a>
<a href="/report">Report</a>
<a href="/invoice">Invoice</a>
<a href="/kamus">Kamus Koperasi</a>
<a href="/neraca">Neraca Koperasi</a>
<a href="/logout">Logout</a>

<h2> Style me please :) </h2> -->


<div class="vertical-center">
<div class="container-fluid text-center mb-3">
    
    <div class="row justify-content-center">
      <div class="col">
        <a href="/register"><img src="images/register.png" width="50%"></a>
      </div>
      <div class="col">
        <a href="/member"><img src="images/member.png" width="50%"></a>
      </div>
      <div class="col">
        <a href="#"><img src="images/saving.png" width="50%"></a>
      </div>
      <div class="col">
        <a href="#"><img src="images/loan.png" width="50%"></a>
      </div>
    </div>
</div>

<div class="container-fluid text-center pt-5"> 
  <div class="row">
    <div class="col ">
      <a href="/register"><img src="images/neraca.png" width="50%"></a>
    </div>
    <div class="col">
      <a href="/member"><img src="images/report.png" width="50%"></a>
    </div>
    <div class="col">
      <a href="/loan"><img src="images/dict.png" width="50%"></a>
    </div>
    <div class="col">
      <a href="/report"><img src="images/invoice.png" width="50%"></a>
    </div>
  </div>
</div> 
</div>



<!-- Brilliant way to fix footer-->
<%- include('../partials/footer.ejs') %>

</div>
</body>
</html>