<!DOCTYPE html>
<!-- Disable translate ?-->
<html lang="en" class="notranslate" translate="no">
  <head>
    <title>Koperasi Padasuka</title>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="index.css" />
  </head>

  <body>
    <%- include('partials/header.ejs') %>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" >
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-label="Slide 1" ></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="active" aria-current="true" aria-label="Slide 2" ></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3" ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
          <img src="images/1.jpeg" class="d-block w-100" alt="1.jpeg" />
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="images/2.png" class="d-block w-100" alt="2.png" />
        </div>
        <div clasggs="carousel-item" data-bs-interval="2000">
          <img src="images/3.png" class="d-block w-100" alt="3.png" />
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- Main -->
    <div class="container text-center">
      <div class="row pt-5">
        <div class="col">
          <img src="images/cal.png" width="100%" />
          <h3 style=" font-family: Times New Roman; font-weight: bold; color: #607782; " >
            22 Tahun
          </h3>
          <h3 style=" font-family: Times New Roman; font-weight: bold; color: #607782; " >
            Sejak Tahun 2000
          </h3>
        </div>
        <div class="col">
          <img src="images/people.png" width="100%" />
          <h3 style=" font-family: Times New Roman; font-weight: bold; color: #607782; " >
            12.345
          </h3>
          <h3 style=" font-family: Times New Roman; font-weight: bold; color: #607782; " >
            Total Anggota
          </h3>
        </div>
        <div class="col">
          <img src="images/assets.png" width="100%" />
          <h3 style=" font-family: Times New Roman; font-weight: bold; color: #607782; " >
            IDR 500.000.000
          </h3>
          <h3 style=" font-family: Times New Roman; font-weight: bold; color: #607782; " >
            Total Aset
          </h3>
        </div>
      </div>
    </div>

    <h3 class="pt-5 mt-5" style=" font-family: sans-serif; text-align: center; font-weight: bold; color: #607782; " >
      MENGAPA HARUS MEMILIH KOPERASI PADASUKA ?
    </h3>

    <!-- Main -->
    <div class="container text-center">
      <div class="row pt-5">
        <div class="col">
          <img src="images/lock.png" width="100%" />
          <h3 style=" font-family: Times New Roman; font-weight: bold; color: #607782; " >
            Aman
          </h3>
          <h3 style=" font-family: Times New Roman; font-size: 20px; font-weight: thin; color: #607782;">
            Jutaan transaski simpan pinjam koperasi padasuka telah terjamin keamanannya
          </h3>
        </div>

        <div class="col">
          <img src="images/hand.png" width="100%" />
          <h3 style=" font-family: Times New Roman; font-weight: bold; color: #607782; " >
            Terpercaya
          </h3>
          <h3 style=" font-family: Times New Roman; font-size: 20px;font-weight: thin; color: #607782; " >
            Koperasi Padasuka secara resmi terdaftar dan diawasi oleh....
          </h3>
        </div>
        <div class="col">
          <img src="images/graph.png" width="100%" />
          <h3 style=" font-family: Times New Roman; font-weight: bold; color: #607782; " >
            Banyak Manfaat
          </h3>
          <h3 style=" font-family: Times New Roman; font-size: 20px; font-weight: thin; color: #607782; " >
            Anggota koperasi akan mendapatkan Sisa Hasil Usaha setiap tahunnya
          </h3>
        </div>
      </div>
    </div>

    <!-- Footer-->
    <%- include('partials/footer.ejs') %>
</div>
</div>
  </body>
</html>
