<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Registrasi</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/style.css" rel="stylesheet">
	</head>
	<body>
		<h1>Form Pendaftaran Anggota Baru Koperasi Padasuka</h1>
		<label for="member-id">No Anggota</label>
		<input type="text" name="member-id" value="" required></br>

		<label for="name">Name</label>
		<input type="text" name="name" value="" required></br>

		<label for="birthdate">Birthdate</label>
		<input type="date" name="birthdate" value=""></br>

		<label for="ktp">No KTP</label>
		<input type="text" name="ktp" value=""></br>

		<label for="name">Address</label>
		<input type="text" name="name" value=""></br>
		<label for="occ">Pekerjaan</label>
		<input type="text" name="occ" value=""></br>

		<label for="gender"> Select you gender</label>
		<select name="gender">
			<option value="male">Male</option>
			<option value="female">Female</option>
		</select></br>

		<label for="telp">No telepon</label>
		<input type="text" name="telp" value=""></br>

		<button type="submit">Back</button>
		<button type="submit">Continue</button>
	</body>
</html>
